# Obsidian: локальное состояние UI и кэш (настройки/плагины версионируем)
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.trash/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Редакторы
.idea/
.vscode/
*.swp
*~
